* {
  font-family: "Montserrat", sans-serif;
}

body {
  background: #f7f5eb;
}

.banner {
  background: #a0c3d2;
  min-height: 150px;
  padding: 10px;
  position: relative;
}

.wrap {
  width: 250px;
  height: 60px;
  background: #eac7c7;
  color: #0081b4;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  margin-left: 70px;
}

.wrap h2 {
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: 1000;
}

.main {
  padding: 50px 0 30px;
}

/* About */

.logo-cf {
  padding: 15px 10px;
  width: 250px;
  height: auto;
}

.main-about {
  display: -webkit-inline-box;
  width: 1000px;
  margin: 0;
  padding: 50px;
  text-align: center;
  font-size: 15px;
}
h2.title-about {
  text-transform: uppercase;
}
.title-about {
  text-align: center;
  margin-top: 15px;
}
.content-about p {
  margin: 10px;
}
.part-about {
  display: flex;
}

.skill-about-fill1 {
  width: 600px;
  margin: 15px 30px;
  padding: 0;
  font-size: 15px;
}
.percentage {
  float: left;
  background: #0081b4;
  height: 35px;
  color: #eac7c7;
  padding: 8px 10px 0 10px;
  font-size: 1em;
  text-align: center;
}
.skill {
  margin: 100px;
}
.li-skill {
  background: #424147;
  height: 38px;
  margin-bottom: 20px;
}
.percent-text {
  background: #eac7c7;
  height: 35px;
  float: left;
  width: 70%;
  color: #424147;
  font-size: 1.4em;
  padding: 5px 5px 0;
}
.percent-text1 {
  background: #eac7c7;
  height: 35px;
  float: left;
  width: 65%;
  color: #424147;
  font-size: 1.4em;
  padding: 5px 5px 0;
}
.percent-text2 {
  background: #eac7c7;
  height: 35px;
  float: left;
  width: 75%;
  color: #424147;
  font-size: 1.4em;
  padding: 5px 5px 0;
}

.percent-text3 {
  background: #eac7c7;
  height: 35px;
  float: left;
  width: 68%;
  color: #424147;
  font-size: 1.4em;
  padding: 5px 5px 0;
}
.skill-about {
  display: flex;
}
