* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  font-family: "Montserrat", sans-serif;
}

*:focus {
  outline: none;
}

body {
  background: #f7f5eb;
}

/* CAROUSEL */
#home .this-carousel .owl-carousel .item {
  margin: 0;
}
#home .this-carousel .owl-carousel .item img {
  height: 450px;
  object-fit: cover;
}

/* DESIGN */
#home .design .design-title {
  font-weight: 550;
}
#home .design .design-title h3 {
  text-align: center;
  font-size: 2.5em;
  color: #424147;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 15px;
}
#home .design .design-title h5 {
  text-align: center;
  font-size: 1.5em;
  color: #424147;
  font-weight: 600;
  margin-bottom: 60px;
}

#home .design .card {
  width: 16rem;
}

#home .card .card-header,
#home .card .card-body {
  font-size: 15px;
}

#home .design .card .card-header {
  background-color: #eac7c7;
  text-align: center;
}

#home .design #redesign .card-header {
  padding: 30px;
}

#home .design #redesign .card-header img {
  width: 10rem;
}

#home .design #redesign .card-body .card-title {
  font-weight: 580 !important;
  padding: 8px;
}

#home .design #web-design .card-header .card-title {
  margin-top: 25px;
}

#home .design #ui-ux .card-header .card-title {
  margin-top: 5px;
}

#home .design #web-design .card-header:hover,
#home .design #app-design .card-header:hover,
#home .design #ui-ux .card-header:hover {
  background-color: #e9dada;
}

#home .design .card .card-body {
  background-color: #a0c3d2;
}

#home .design .card .card-body .card-text {
  text-align: center;
}

/* TITLE HEADER FOR OUR WORK & OUR CLIENTS */
#home .title-header {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

#home .title-header h4 {
  border: 4px solid #0081b4;
  background-color: #0081b4;
  color: #fff;
  margin: 0 33rem 30px 33rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#home .title-header p {
  font-size: 22px;
  color: #424147;
}

/* OUR WORK */
#home .our-work {
  margin-bottom: 18px;
}

#home .gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
}

#home .gallery .gallery-image {
  height: 150px;
  width: 150px;
  border: 2px solid #fff;
  box-shadow: 0 5px 10px black;
  overflow: hidden;
  cursor: pointer;
}

#home .gallery .gallery-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 0.2s linear;
}

#home .popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 80%;
  max-width: 1600px;
  height: 90vh;
  max-height: 800px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  overflow: hidden;
  transition: 1s;
  opacity: 0;
}

#home .popup.active {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

#home .popup.active .close-btn,
#home .popup.active .image-name,
#home .popup.active .index,
#home .popup.active .large-image,
#home .popup.active .arrow-btn {
  opacity: 1;
  transition: opacity 0.5s;
  transition-delay: 1s;
}

#home .top-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: #000;
  color: #fff;
  text-align: center;
  line-height: 50px;
  font-weight: 300;
}

#home .image-name {
  opacity: 0;
  font-size: 18px;
}

#home .close-btn {
  opacity: 0;
  position: absolute;
  top: 15px;
  right: 20px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #f00;
  cursor: pointer;
}

#home .arrow-btn {
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  border-radius: 50%;
  border: none;
  background: none;
  cursor: pointer;
}

#home .left-arrow {
  left: 10px;
}

#home .right-arrow {
  right: 10px;
  transform: translateY(-50%) rotate(180deg);
}

#home .arrow-btn:hover {
  background: rgba(0, 0, 0, 0.5);
}

#home .index {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 80px;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.4);
  opacity: 0;
}

#home .large-image {
  margin-top: 5%;
  width: 80%;
  height: 80%;
  object-fit: contain;
  opacity: 0;
}

#home .gallery .gallery-image:hover img {
  transform: scale(1.1);
}

/* OUR CLIENTS */
#home .our-clients .owl-carousel .item {
  margin: 0 20px 0 20px;
  padding: 5px;
}
